.btn {
  font-size: 1rem;
  width: 100%;
  padding: 13px 0;
  color: var(--font);
  border: 0;
  border-radius: 53px;
  cursor: pointer;
}

.btn-inp-wrap {
  display: flex;
  gap: 22px;
  max-width: 302px;
  width: 100%;
}

.btn.gen,
.btn.reset {
  max-width: 140px;
}

.btn.gen {
  background-color: var(--purple);
}

.btn.reset {
  background-color: var(--red);
}

.download-wrap {
  display: flex;
  padding: 13px 14px 13px 40px;
  background-color: var(--content-bg);
  flex-wrap: no-wrap;
  border-radius: 50px;
  color: var(--font-gray);
  width: 100%;
  /* max-width: 889px; */
  align-items: center;
}

.download-wrap p {
  font-weight: bold;
  font-size: 1rem;
  width: 200px;
  padding-bottom: 10px;
}

.download-wrap p::after {
  display: inline-block;
  content: "";
  position: relative;
  top: 5px;
  left: 10px;
  width: 25px;
  height: 25px;
  background: url("/asset/img/icon-download.svg") no-repeat;
  background-position: 100% 70%;
}

.btn-wrap {
  width: 100%;
}

.btn.download {
  /* max-width: 120px; */
  flex-shrink: 0;
  background: var(--dark-cyan);
  width: calc((100% / 5) - 15px);
  padding: 13px 0;
  margin: 0px 5px;
}

.btn.download:hover {
  background-color: var(--cyan);
  opacity: 1;
}
