footer {
  margin-top: 30px;
}

.footer-logo {
  align-self: center;
}

.footer-content {
  width: 100%;
  height: 78px;
  position: relative;
}

.footer-content .contet-title,
.contet-subtitle {
  position: absolute;
  color: var(--font-gray);
  font-size: 18px;

  font-weight: 700;
  line-height: 24px;
}

.footer-content > p:last-child {
  position: relative;
  left: 0;
  top: 42px;
  font-size: 14px;
  font-weight: 300;
  line-height: 12px;
}
.footer-content > p:last-child::after {
  content: '';
  display: block;
  background-image: url(../img/logo-footer.svg);

  width: 175px;
  height: 60px;
  position: absolute;
  right: 0;
  top: -10px;
}
