.footer-content {
  width: 100%;
  position: relative;
}

.footer-logo {
  /* align-self: center; */
  position: absolute;
}

.footer-title {
  /* position: absolute; */
  color: var(--font-gray);
  font-size: 18px;
  font-weight: 700;
  /* line-height: 24px; */
  margin-bottom: 18px;
  word-break: keep-all;
}


.footer-subtitle {
  position: relative;
  /* left: 0; */
  /* top: 42px; */
  color: var(--font-gray);
  font-size: 14px;
  font-weight: 300;
  /* line-height: 12px; */
  word-break: keep-all;
}

.footer-logo {
  position: absolute;
  right: -20px;
  bottom: -50px;
}

/* .footer-content::after {
  content: '';
  display: block;
  background-image: url(../img/logo-footer.svg);
  width: 175px;
  height: 60px;
  position: absolute;
  right: 0;
  bottom: -20px;
  top: -10px;
}
