body {
  padding: 20px 40px;
  background-color: var(--dark-bg);
}

#datagen-container {
  width: 100%;
  height: calc(100vh - 40px);
  max-width: 1800px;
  margin: 0 auto;
  padding: 0 75px 38px;
  box-sizing: border-box;
  gap: 138px;
  background-color: var(--bg);
  border-radius: 30px;
  overflow: hidden;
}

.datagen-contents {
  display: flex;
  gap: 100px;
  height: calc(100% - 107px);
  justify-content: space-between;
}

#datagen-input,
#datagen-output {
  display: flex;
  flex-direction: column;
  padding-top: 24px;
}

#datagen-input {
  flex: 4;
  gap: 20px;
  position: relative;
}

#datagen-output {
  flex: 6;
  gap: 30px;
}

#datagen-input::after {
  display: block;
  content: "";
  width: 3px;
  height: 110%;
  background: var(--content-bg);
  position: absolute;
  top: 0;
  right: -50px;
}

#json-input {
  flex-grow: 1;
  width: 100%;
  padding: 30px;
  /* max-width: 625px; */
  resize: none;
  background-color: var(--content-bg);
  color: var(--font);
  font-size: var(--font-size);
  border: none;
  border-radius: 30px;
}

#json-output {
  flex-grow: 1;
  width: 100%;
  padding: 30px;
  /* max-width: 889px; */
  resize: none;
  background-color: var(--content-bg);
  color: var(--font);
  font-size: var(--font-size);
  border: none;
  border-radius: 30px;
}

.btn-inp-wrap {
  margin: auto;
}

header::after {
  display: block;
  content: "";
  width: 100vw;
  height: 3px;
  background: var(--content-bg);
  position: absolute;
  bottom: 0;
  left: -75px;
}

@media (max-width: 930px) {
  .datagen-contents {
    flex-direction: column;
    gap: 20px;
  }

  #datagen-input::after {
    width: 150%;
    height: 3px;
    top: initial;
    bottom: -20px;
    left: -75px;
  }
}

@media (max-width: 730px) {
  #datagen-container {
    padding: 0 40px 30px;
  }
}
