/* selected */
.select-wrap {
  position: relative;
  background-color: var(--content-bg);
  border-radius: 0.8em;
  cursor: pointer;
}

.select-wrap .selected {
  display: flex;
  justify-content: space-between;
  padding: 13px 40px;
  font-size: var(--font-size);
  color: var(--font);
}

.select-wrap .main-selected {
  padding: 22px 40px;
}

.select-wrap .selected .arrow {
  display: inline-block;
  position: absolute;
  height: 24px;
  width: 24px;
  right: 25px;
  background: url("../img/L-arrow-down.svg") no-repeat 70% 50%;
  background-size: 100% 100%;
  transition: all 0.3s;
}

.select-wrap.active .arrow {
  transform: rotate(180deg);
}

.select-wrap.active {
  outline: 1px solid var(--dark-cyan);
  background: var(--bg);
}

.select-input .selected:before {
  content: "";
  display: block;
  height: 50%;
  position: absolute;
  top: 25%;
  right: 70px;
  border-left: 1.5px solid rgba(129, 133, 139, 0.5);
}

/* select-box */
.select-wrap .list-select {
  width: 100%;
  padding: 15px 20px;
  background: var(--bg);
  border: 1px solid var(--dark-cyan);
  border-radius: 20px;
  cursor: pointer;
  display: none;
  z-index: 50;
}

.select-wrap.active .list-select {
  display: block;
  overflow: auto;
  position: absolute;
  margin-top: 10px;
}

.select-input .list-select {
  height: 60vh;
}

.select-wrap .list-select button {
  padding: 10px;
  line-height: 2rem;
  font-size: var(--font-size);
  color: var(--font);
}

.select-wrap .list-select li:hover {
  background-color: var(--purple);
  border-radius: 15px;
}