/* selected */
.select-wrap {
  position: relative;
  background-color: var(--divider);
  border-radius: 20px;
  color: var(--font);
  cursor: pointer;
}

.select-wrap .selected {
  display: flex;
  justify-content: space-between;
  padding: 25px 22px;
  font-size: var(--font-size);
}

.select-wrap .selected .arrow {
  width: 24px;
  background: url("../img/L-arrow-down.svg") no-repeat 70% 50%;
  background-size: 100% 100%;
  transition: all 0.3s;
}

.select-wrap.active .arrow {
  transform: rotate(180deg);
}

.select-wrap .selected:before {
  content: "";
  display: block;
  height: 50%;
  position: absolute;
  top: 25%;
  right: 70px;
  border-left: 1px solid var(--light-gray);
}

/* select-box */
.select-wrap #select-box {
  width: 100%;
  padding: 15px 20px;
  background: var(--bg);
  border: 1px solid var(--dark-cyan);
  border-radius: 20px;
  cursor: pointer;
  display: none;
}

.select-wrap.active #select-box {
  display: block;
  height: 60vh;
  overflow: auto;
  position: absolute;
}

.select-wrap #select-box li {
  padding: 10px;
  line-height: 2rem;
  font-size: var(--font-size);
}

.select-wrap #select-box li:hover {
  background-color: var(--purple);
  border-radius: 15px;
}
