:root {
  --dark-bg: #1c2028;
  --bg: #2a2e36;
  --content-bg: #2f353f;
  --purple: #734fd7;
  /* --red: #d86262; */
  /* --cyan: #53a9c3; */
  /* --dark-cyan: #416f81; */
  --red: #bb3ed5;
  --cyan: #1ccbb6;
  --dark-cyan: #239289;
  --scroll: #3f6b7d;
  --divider: #2f353f;
  --font: white;
  --font-textarea: 1.3em;
  --font-gray: #9c9999;
  --light-gray: #b3afaf;
}

button {
  cursor: pointer;
  border: none;
  box-sizing: border-box;
  background: none;
}

body {
  font-family: 맑은 고딕, malgun gothic, AppleGothicNeoSD, Apple SD 산돌고딕 Neo, Microsoft NeoGothic, Droid sans, sans-serif;
}

body::-webkit-scrollbar {
  width: 0.625rem;
}

body::-webkit-scrollbar-track {
  background-color: transparent;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--scroll);
  border-radius: 50px;
}