:root {
  --dark-bg: #1c2028;
  --bg: #2a2e36;
  --content-bg: #2f353f;
  --purple: #734fd7;
  --red: #bb3ed5;
  --cyan: #69b5c9;
  --dark-cyan: #239289;
  --scroll: #3f6b7d;
  --font: white;
  --font-size: 1.2em;
  --font-gray: #9c9999;
  --light-gray: #b3afaf;

  ::-webkit-scrollbar {
    width: 1.4rem;
  }

  ::-webkit-scrollbar-track {
    background-color: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background-color: var(--scroll);
    border-radius: 50px;
    background-clip: padding-box;
    border: 5px solid transparent;
  }
}

::-webkit-scrollbar-button:vertical:start:increment,
::-webkit-scrollbar-button:vertical:end:decrement {
  display: block;
  height: 20px;
}

button {
  cursor: pointer;
  border: none;
  box-sizing: border-box;
  background: none;
}

body {
  font-family: 맑은 고딕, malgun gothic, AppleGothicNeoSD, Apple SD 산돌고딕 Neo,
    Microsoft NeoGothic, Droid sans, sans-serif;
}
